{% extends "core.html" %}

{% block content %}

    <div class="container">
    <form action="/add" method="post">
        <div>
            <label for="username">Username:<font color='red'>*</font></label>
            <input id="username" type="text" required placeholder=Username maxlength="20" minlength="3" required title="Enter your username, 3 to 20 characters"/>
            <p>
                <span class="error"></span>
            </p>
        </div>
        <p></p>
        <div>
            <label for="password">Password:<font color='red'>*</font></label>
            <input id="password" type="password" required placeholder=Password maxlength="20" minlength="3" required title="Password must be between 3 and 20 characters"/>
        </div>
        <p></p>
        <div>
            <label for="password2">Verify Password:<font color='red'>*</font></label>
            <input id="password2" type="password" required placeholder=Retype_Password maxlength="20" minlength="3" required title="Please retype your password"/>
        </div>
        <p></p>
        <div>
            <label for="email">(optional) Email:</label>
            <input id="email" type="text" placeholder=Email maxlength="20" minlength="3" required title="Enter your email"/>
        </div>
        <p><font color='red'>*</font> - Indicates required field</p>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
    </div>
{% endblock %}