<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style type="text/css">
        
        .error {
            color: red;
            text-align:right;
            
        }    

        form {
             text-align: right;
        }
        input {
            width: 125px;
        }

        .container {
            width: 300px;
            clear: both;
        }
            
        .container input {
            
            clear: right;
        }
                </style>
    </head>
    
    <body>
        <h1>Signup</h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
